<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask MongoDB Project</title>
</head>
<body>
    <h1>Enter your data:</h1>
    <form action="/submit" method="post">
        <label for="name">Enter Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Enter Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="student_id">Enter Student ID:</label><br>
        <textarea id="student_id" name="student_id"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
